<h2>View: {{jobsViewSelected.name}}</h2>
<header>
  <menu-config (onSelectedView)="loadViewSelected($event)" (onSelectNumColumn)="setColumnsLayout($event)" (onSetPollingInterval)="setPollingInterval($event)"  (onUnsuscribePrevious)="unsuscribePrevious($event)" [urlJenkins]="urlJenkins">Configuration Menu</menu-config>
</header>

<div>
  <!-- Jobs List -->
  <ul id="widgets" [class] = "viewConfig.classColumn">
    <li *ngFor="let jobData of jobsModel" [ngClass]="jobData.getClasses()">
      <job  [jobModel]="jobData"></job>
    </li>
  </ul>
</div>
